<% layout('./layouts/boilerplate') %> 

  <div class="row">
    <h1 class="text-center mt-3">Edit Island</h1>
    <div class="col-6 offset-3">
      <form action="/islands/<%= island._id%>?_method=PUT" method="POST" novalidate class="validated-form">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input class="form-control" type="text" id="title" name="island[title]" required value="<%=island.title%>">
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input class="form-control" type="text" id="location" name="island[location]" value="<%=island.location%>" required>
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Image URL</label>
          <input class="form-control" type="text" id="image" name="island[image]" value="<%=island.image%>"  required>
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Island Price</label>
          <div class="input-group">
            <span class="input-group-text" id="price-label">$</span>
            <input type="text" id="price" class="form-control" placeholder="0.00" aria-label="price"
              aria-describedby="price-label" name="campground[island]" value="<%=island.price%>" required>
          </div>
      </div>
        
  
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea class="form-control" type="text" id="description" name="island[description]" required><%= island.description  %> </textarea>
        </div>
        <div class="mb-3">
          <button class="btn btn-info">Update Island</button>
        </div>
      
      </form>

      <a href="/islands/<%= island._id%> ">Back to Island</a>