<% layout('./layouts/boilerplate') %> 
<link rel="stylesheet" href="./styles/index.css">
<div id="map" style="width: 100%; height: 45vh; margin-top: 3rem;"></div>
<h1 class="index-title">All Islands</h1>
<div class="flexbox-container">
  
    <!-- <ul> -->
      <% for (let island of islands) { %> 
        <% if(island.images.length) { %> 
        <div class="card" style="background-image: url('<%=island.images[0].url%>');">
          <% } else { %> 
            <div class="card" style="background-image: url('https://res.cloudinary.com/siracha/image/upload/v1653169033/YelpCamp/ucwmhbo7yrhcxbvwtjgm.jpg');">
              <% } %> 
          <div class="card-content">
            <h2 class="card-title"><%=island.title%></h2>
            <p class="cardbody"><%=island.description%></p>
            <a href="/islands/<%= island._id %>" class="button">View <%= island.title %></a>
           
          </div>
        </div>
        <% } %> 
</div>
    <!-- </ul> -->

    <a href="/islands/new">Add New Island</a>
</body>
<script>
const mapToken = '<%-process.env.MAPBOX_TOKEN %>';
const islands = {features: <%- JSON.stringify(islands) %>}

</script>
<script src="/scripts/clusterMap.js"></script>
</html>